@media (max-width:680px){
    .other:after{
        left: -17px;
    }
    .modalLogo{
        width: 115px;
        top: -65px;
    }
    .modal-header{
        padding: 25px 20px 20px;
    }
    .modal-heading{
        font-size: 28px;
    }
    #signupModal .modal-heading{
        padding: 15px 0;
    }
    input[type=text], input[type=email], input[type=tel], input[type=password]{
        width: inherit;
        width: -webkit-fill-available;
        padding: 12px 30px;
    }
    .popupForm{
        text-align: center;
    }
    .popupForm a{
        font-size: 19px;
    }
    .btnSubmit{
        padding: 10px;
        font-size: 24px;
        width:50%;
    }
    .signupNeed{
        font-size: 19px;
    }
    #regForm{
        width: 100%;
    }
    .modal-content{
        padding: 0 15px 30px;
    }
    .secAction{
        display: block;
        /* bottom: 1%; */
    }
    .actionBtn{
        width:70%;
        /*margin:auto;*/
    }
    .btnVideo,.btnEvent{
        padding:0;
    }
    .actionBtn.btnSwitchCamera{
        display: block;
    }
    .secAction.recorded,.secAction.recording{
        padding: 5% 0 13% 0!important;
    }
    .actionBtn.btnSwitchCamera{
        margin-bottom: 8%;
    }
}
@media (max-width:460px){
    .actionBtn.video,.actionBtn.location{
        font-size: 22px;
    }
    .secAction.login {
        bottom: 16vh;
		  position: absolute;
    }
	.secActionGPS {
		top: 469px !important;
	}

    .activity-log .chat .other .icon {
        width: 80px;
    }
    .activity-log .chat .other .icon img{
        width: 30px;
    }
}

@media (max-width:400px){
    .activity-log .chat .other .icon {
        width: 60px;
    }
}
