/*@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');*/
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Light.ttf");
    src: url("../fonts/Nunito-Light.ttf") format("ttf"),
    url("../fonts/Nunito-Light.ttf");
}
html{
    overflow: hidden;
}
body{
    margin:0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Nunito', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
	display: none;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(0, 188, 212, .70);
    background: -webkit-linear-gradient(320deg, rgba(0, 188, 212, .70), #4766c8, rgba(100, 48, 148, .70));
    background: -o-linear-gradient(320deg, rgba(0, 188, 212, .70), #4766c8, rgba(100, 48, 148, .70));
    background: linear-gradient(130deg, rgba(0, 188, 212, .70), #4766c8, rgba(100, 48, 148, .70)); */
    z-index: -1;
}
header{
    transition: all 0.5s;
}
a, a:hover{
    text-decoration: none;
}
.mainContainer{
    max-width: 90%;
    width: 750px;
    margin: auto;

}
header{
    padding-top: 30px;
}
.toggleBar.toggleClose{
    margin-left: -350px;
}
.toggleBar{
	 display: none;
    cursor: pointer;
    width: 40px;
    margin-top: 25px;
    float: left;
    position: fixed;
    z-index: 10000;
}
.bar{
    height: 2px;
    width: 40px;
    margin-bottom: 10px;
    background: #000;
    display: block;
}
.toggleClose .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.toggleClose .bar2 {opacity: 0;}

.toggleClose .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.logo{
    text-align: center;
}
.slideMenu{
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    color: #000;
    font-size: 30px;
    background: #dddddd;
    /*background: rgba(0, 188, 212, .70);*/
    /*background: -webkit-linear-gradient(320deg,rgb(100, 48, 148), #4766c8,  rgb(0, 188, 212));*/
    /*background: -o-linear-gradient(320deg,rgb(100, 48, 148), #4766c8,  rgb(0, 188, 212));*/
    /*background: linear-gradient(320deg,rgb(100, 48, 148), #4766c8,  rgb(0, 188, 212));*/

    display: none;
    z-index: 9999;
    padding-top:100px;
    /*transition: all 0.5s;*/
}
.slideMenu a{
    color: #000;
    z-index: 999;
}
.secAction {
	text-align: center;
	position: absolute;
	bottom: 1%;
    width: 100%;
    display: inline-grid;
}
.btnClose{
    margin: auto!important;
}
.actionBtn{
    background: #00a0cc;
    color: #fff;
    padding:5px;
    margin: 1% 20%;
    display: inline-block;
    min-width: 250px;
    height: 60px;
    border-radius: 10px;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    line-height: 1;
    position: relative;
}
.actionBtn.dark{
    background: #2A318B;
}
.actionBtn span{
    font-size: 12px;
    display: block;
}
.btnVideo{
    padding:  5px 30px 5px 75px;
    /*top: -8px;*/
    /*margin-left: 0;*/
}
.btnEvent{
    padding:  5px 30px 5px 75px;
    /*margin-right: 0;*/
}
/*.btnVideo:before{
    content: "";
    width: 34px;
    height: 30px;
    background: url(../images/movie.png) no-repeat;
    position: absolute;
    background-size: 100% auto;
    left: 25px;
    top: 9px;
}
.btnEvent:before{
    content: "";
    width: 30px;
    height: 34px;
    background: url(../images/calender.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 25px;
}*/
.eventBox{
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 20px;
}
.eventBox label{
    display: block;
    color: #770fe5;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
    background: url(../images/pen.png) no-repeat center right;
}
.eventBox textarea{
    width: 100%;
    border: 0;
    resize: none;
    color: #343434;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}
/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}
.chat li {
    padding: 0;
    display: inline-flex;
    position: relative;
}
.chat .avatar {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    position: relative;
    display: block;
    z-index: 2;
}
.chat .avatar img {
    width: 80px;
    height: 80px;
}
.activity-log{
    border-left: 1px solid #dddddd;
    height: 70vh;
    overflow-y: scroll;
}
.activity-log .chat {

    padding: 0 0 0 30px;
}
.activity-log .chat .other{
    padding-bottom: 10px;
}
.activity-log .chat:before{
    content:'';
    position: absolute;
    left: -40px;
    top: 60%;
    margin-top: -18px;
    width: 1px;
    height: 50%;
    border-radius: 50px;
    background: #DDDDDD;
}
.activity-log .chat .other .msg:before{
    content: '';
    position: absolute;
    left: -37px;
    top: 55%;
    margin-top: -18px;
    width: 10px;
    height: 30px;
    background: #ffffff;
}
.activity-log .chat .other .msg:after{
    content:'';
    position: absolute;
    left: -40px;
    top: 60%;
    margin-top: -18px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #00a0cc;
    /*border-right: solid 18px #fff;
    border-bottom: solid 18px transparent;
    border-top: solid 18px transparent;*/
}
.activity-log .chat .other.dark .msg:after{
    background: #2A318B;
}
.activity-log .chat .other .msg{
    border: 2px solid #00a0cc;
    padding: 0;
    position: relative;
}
.activity-log .chat .other .msg p{
    width: 70%;
    padding: 10px 0 5px 15px;
}
.activity-log .chat .other .icon{
     display: inline-flex;
    border-radius: 0 10px 10px 0;
     position: absolute;
     background: #00a0cc;
     margin: auto;
     width: 100px;
     height: 100%;
     right: 0;
     top: 0;
 }
.activity-log .chat .other.dark .icon{
    background: #2A318B;
}
.activity-log .chat .other .icon img{
    margin: auto;
    box-shadow: none;
    width: 60px;
}
.activity-log .chat .other.dark .msg{
    border: 2px solid #2A318B;
}

.activity-log .chat .other.dark:before{
    border-right: solid 18px #2A318B;
}
.activity-log .chat .other:after{
    left: -17px;
    border-right: solid 19px #fff;
}
.other .msg {
    order: 1;
    font-size: 22px;
}
.other:after {
    content:'';
    position: absolute;
    left: -18px;
    top: 50%;
    margin-top: -18px;
    width: 1px;
    height: 1px;
    border-right: solid 18px #fff;
    border-bottom: solid 18px transparent;
    border-top: solid 18px transparent;
}
.other:before {
    content:'';
    position: absolute;
    left: -19px;
    top: 50%;
    margin-top: -19px;
    width: 1px;
    height: 1px;
    border-right: solid 19px #00a0cc;
    border-bottom: solid 19px transparent;
    border-top: solid 19px transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}
.self .avatar {
    order: 2;
}
.self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 19px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #D4D4D4;
}

.msg {
    background: white;
    width: 100%;
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid #00a0cc;
    /*box-shadow: 0px 8px 32px 0px rgba(3, 3, 3, 0.61); */
    /*-webkit-box-shadow: 0px 8px 32px 0px rgba(3, 3, 3, 0.61); */
}
.msg p {
    margin: 0 0 0.2rem 0;
    color: #0d0e10;
    font-weight: 500;
}
.msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/*Modal*/
.modal {
    position: absolute;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: none;
}

.modal.is-visible {
    visibility: visible;
    display: block;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.64);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 1em;
  left: 0;
    right: 0;
    margin: auto;
  width: 94%;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
    border-radius: 20px;
    -webkit-border-radius:20px;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header{
    padding: 30px 20px 20px;
}
.modal-content {
  padding:0 20px 30px;
}
.modalLogo{
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: -100px;
    margin: auto;
}
#LocationModal .modalLogo{
    width: 80px;
    height: 80px;
    top: -40px;
}
.modal-header {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
}

.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 35px;
    text-align: center;
    font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}
.text-lightblue{
    color: #00a0cc!important;
}
/*Form*/
input[type=text],
input[type=email],
input[type=number],
input[type=tel],
input[type=password]{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 25px;
    width: 100%;
    /*box-shadow: 0 2px 2px rgba(230, 232, 234, 1) inset;*/
    padding:20px 0px;
    border: 2px solid #00a0cc;
    border-radius: 10px;
    background-color: #fff;
    color: #000;

    -webkit-user-select: text; /* Chrome, Opera, Safari */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */

}
textarea.note{
    border: 1px solid #00a0cc;
    border-radius: 10px;
    padding: 2%;
}

input[type=number], input[type=text], input[type=email], input[type=tel], input[type=password]{
    width: inherit;
    width: -webkit-fill-available;
    padding: 12px 30px;
}

.m-0{
    margin: 0!important;
}

.btnSubmit{
    width: 100%;
    padding: 20px;
    border: 0;
    /*border-radius: 50px;*/
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    background: rgba(0, 188, 212, .70);
    /*background: -moz-linear-gradient(left, #9014ee 0%, #3905cd 100%);
    background: -webkit-linear-gradient(left, #9014ee 0%,#3905cd 100%);
    background: linear-gradient(to right, #9014ee 0%,#3905cd 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9014ee', endColorstr='#3905cd',GradientType=1 );
}
.textMenu{
    text-align: left;
    font-weight: 100;
    margin-left: 20%;
}
.textCenter{
    text-align: center;
    font-weight: 100;
}
.popupForm a{
    font-size: 22px;
    font-weight: 500;
    color: rgba(13,14,16,0.3);
    display: block;
    margin-bottom: 25px;
}
.signupNeed{
    font-size: 22px;
    font-weight: 500;
    color: #828282;
}
.signupNeed a{
    color: #00a0cc;
}
.locAuthTitle{
    color: #00a0cc;
    font-size: 30px;
    font-weight: 100;
    margin-top: 10px;
}
.locAuthDesc{
    font-size: 22px;
}
video{
    margin-top: 50px;
}
video::-webkit-media-controls {
  display: none;
}

.loginToDashboard{
    margin: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 640px) {
    .actionBtn {
        min-width: 200px;
        /*height: 50px;*/
        font-size: 20px;
        /*margin: auto;*/
    }
    .other .msg {
        font-size: 18px;
    }
    .btnVideo{
        margin-left: 0;
    }
    .btnEvent{
        margin-right: 0;
    }

}
@media screen and (max-width: 560px) {
    .other .msg {
        font-size: 16px;
    }
    .actionBtn {
        min-width: 160px;
        /*height: 50px;*/
        font-size: 18px;
        /*margin: auto;*/
    }
    .btnVideo::before {
        width: 24px;
        height: 30px;
        left: 25px;
        top: 13px;
    }
    .btnVideo {
        padding: 5px 30px 5px 60px;        
    }
    .btnEvent::before {
        width: 24px;
        height: 34px;
        left: 25px;
    }
    .btnEvent {
        padding: 5px 30px 5px 60px;
    }
    .actionBtn span {
        font-size: 10px;
    }
}
@media screen and (max-width: 520px) {
    .mainContainer {
        max-width: 94%;
    }
    .other .msg {
        font-size: 14px;
    }
    .actionBtn {
        min-width: 120px;
        /*height: 40px;*/
        font-size: 16px;
    }
    .singleBtn{
        min-width: 180px;
    }
    .msg {
        padding: 15px 15px;
    }
    .chat .avatar {
        width: 70px;
        height: 70px;
    }
    .chat .avatar img {
        width: 70px;
        height: 70px;
    }
    ol li.other {
        margin-left: 20px;
    }
    .eventBox label {
        font-size: 26px;
    }
    .eventBox textarea {
        font-size: 20px;
    }
    .btnVideo {
        padding: 5px 20px 5px 50px;
        font-size: 14px;
    }
    .btnVideo::before {
        width: 20px;
        height: 20px;
        left: 22px;
    }
    .btnEvent {
        padding: 5px 20px 5px 50px;
        font-size: 14px;
    }
    .btnEvent::before {
        width: 20px;
        height: 25px;
        left: 20px;
        top: 9px;
    }
    .actionBtn span{
        font-size: 10px;
        display: block;
    }
}
@media screen and (max-width: 414px) {
    .btnVideo::before {
        width: 16px;
        left: 15px;
    }
    .btnVideo {
        padding: 5px 15px 5px 40px;   
        margin-left: 0;
    }
    .btnEvent::before {
        width: 16px;
        left: 15px;
    }
    .btnEvent {
        padding: 5px 15px 5px 40px;
        margin-right: 0;
    }
    .actionBtn span {
        font-size: 10px;
    }
    .btnSubmit {
    	padding: 14px;
    	font-size: 22px;
    }
    .signupNeed {
    	font-size: 18px;
    }
    .popupForm a {
        font-size: 18px;
    }
    .modal-heading {
    	font-size: 30px;
    }
    .modalLogo {
    	width: 120px;
    	top: -60px;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type='number'] {
    	font-size: 20px;
    }
}

.page-contents{
    height: inherit;
    width: inherit;
    transition: all 0.5s;
}

/*****************SIGN UP FORM TABS*****************/

/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: auto;
    width: 100%;
}

/* Style the input fields */
/*#regForm input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}*/
.btnPrev,.btnNext{
    border: 1px solid #00a0cc;
    background: #00a0cc;
    color: #fff;
    padding: 5px 24px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 100;
    margin: auto;
}
.btnPrev{
    border: 1px solid lightgrey;
    background: lightgrey;
}

/* Mark input boxes that gets an error on validation: */
#regForm input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
#regForm .tab {
}

/* Make circles that indicate the steps of the form: */
#regForm .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
#regForm .step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
#regForm .step.finish {
    background-color: #4CAF50;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: #000; !important;
}
textarea:focus, input:focus,button:focus{
    outline: none !important;
}

.secAction.recording{
    bottom: 0;
    padding: 1% 0;
    display: block;
    background-color: #777777;
}
.secAction.recorded{
    bottom: 0;
    padding: 1% 0;
    display: block;
    background-color: rgba(119, 119, 119, 0.51);
}
.actionBtn.video,.actionBtn.location{
    height: 20vh;
    font-size: 40px;
    margin: 5vh 20%;
}
.actionBtn.btnSwitchCamera{
    position: absolute;
    min-width: 5px!important;
    height: 34px;
    right: 10%;
    bottom: 22%;
    padding: 15px;
    width: 34px;
    margin-top: 9px;
    background-color: #735598ba;
    display: none;
}
.actionBtn.btnSwitchCamera img{
    position: absolute;
    top: 22%;
    right: 22%;
}
.actionBtn.btnRecord{
    min-width: 5px;
    width: 40px;
    background-color: #890000c7;
    /*height: 40px;*/
    border: 2px solid rgba(255, 255, 255, 0.73);
}
#takeVideo{
    background-color: black;
}
#locationModal .modal-header{
    padding: 40px 20px 20px;
}
#locationModal .btnSubmit{
    max-width: 300px;
    padding: 10px;
    font-size: 25px;
}

.btnGradient{
    background: rgba(0, 188, 212, .70);
    background: -webkit-linear-gradient(320deg,rgb(100, 48, 148), #4766c8,  rgb(0, 188, 212));
    background: -o-linear-gradient(320deg,rgb(100, 48, 148), #4766c8,  rgb(0, 188, 212));
    background: linear-gradient(320deg,rgb(100, 48, 148), #4766c8,  rgb(0, 188, 212));
}
/*hiding all divs*/
div#login,div#dashboard,#takeVideo,#submitVideo,#addEvent,#activity{
    display: none;
}

.modal-wrapper{
    max-width: 400px !important;
}
.btnSubmit{
    max-width: 300px;
    padding: 10px;
    font-size: 25px;
}

li.notification{
    float: right;
}
li.notification .msg{
    border-radius: 50px;
    padding: 10px 20px;
    width: auto;
    background: #FFEB3B;
}

.modalLogo{
    display: none!important;
}
.popupForm{
    text-align: center;
}
#signupModal .modal-header{
    padding: 0!important;
}

.btnBack,.btnInfo{
    background: none;
    border: none;
    position: absolute;
    display: none;
    cursor: pointer;
}
.btnInfo{
    right: 0;
}
.btnBack img,.btnInfo img{
    height: 50px;
}

ol li.other{
    width: 90%;
    width: -webkit-fill-available;
}
